footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--clr-slate800);
    margin-top: 3rem;
    border-bottom: 2px solid var(--clr-slate800);  
  
}

.footer__copyright{
    color: var(--clr-slate400);
    font-size: var(--size-xl);
    padding: 2rem;
    user-select: none;
}

.footer__sig{
    padding-top: 1em;
    font-size: var(--size-xs);
    font-weight: 400;
    color: var(--clr-slate600);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    user-select: none;
    text-align: center;
}

/* 3xs */
@media (min-width: 320px) {
    .footer__copyright {
        font-size: var(--size-s);
    }
}

/* xxs */
@media (min-width: 375px) {
    .footer__copyright{
        font-size: var(--size-l);
    }
}

/* xs */
@media (min-width: 475px) {

}

/* s */
@media (min-width: 640px) {

}

/* m */
@media (min-width: 768px) {

}

/* l */
@media (min-width: 1024px) {

}

/* xl */
@media (min-width: 1280px) {

}

/* xxl */
@media (min-width: 1536px) {

}