.policies-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
    border-top: 2px solid var(--clr-slate800);
}

.policies__main{
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: var(--clr-slate400);
    font-size: var(--size-2xl);
}

.policies__list{
    list-style: none;
}

.policies__links{
    font-size: var(--size-s);
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-slate600);
    letter-spacing: -0.05em;
    transition: color 0.3s;
}

.policies__links:hover{
    color: var(--clr-rose);
    align-self: flex-start;
}

.contact__main{
    color: var(--clr-slate400);
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: var(--size-2xl);
}

.contact__p{
    color: var(--clr-slate600);
    font-weight: 500;
    margin-bottom: 1rem;
}

.contact__button{
    font-size: var(--size-s);
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.5px;
}

/* 4xs */
@media (max-width: 280px) {
    .policies-contact{

        justify-content: center;
        text-align: center;
    }
    
    .policies__main{
        font-size: var(--size-2xl);
    }
    
    .policies__links{
        font-size: var(--size-s);
    }
    
    
    .contact__main{
        font-size: var(--size-2xl);
        text-align: center;
    }
     
    .contact__p{
        text-align: center;
        font-size: var(--size-s);
    }

    .contact__button{
        font-size: var(--size-s);
        text-align: center;
    }
}
 
/* xs */
@media (min-width: 475px) {

}

/* s */
@media (min-width: 640px) {
}

/* m */
@media (max-width: 768px) {
    .policies-contact{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .policies__main{
        font-size: var(--size-2xl);
    }
    
    .policies__links{
        font-size: var(--size-s);
    }
    
    
    .contact__main{
        font-size: var(--size-2xl);
        text-align: center;
    }
     
    .contact__p{
        text-align: center;
    }

    .contact__button{
        font-size: var(--size-s);
        text-align: center;
    }

}

/* l */
@media (min-width: 1024px) {

}

/* xl */
@media (min-width: 1280px) {

}

/* xxl */
@media (min-width: 1536px) {

}